.background {
    max-width: 450px;
    margin: auto;
}

.GreenPhon {
    height: 54px;
    width: 470px;
    margin-top: 33px;
    border-radius: 0px;
}

.text {}

.boxText {
    height: 16px;
    width: 385px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    color: #0A6A60;
    margin-left: 61px;
    margin-top: -38px;
}

.box {
    height: 29px;
    width: 28px;
    border-radius: 0px;
    margin-left: 20px;
}

.cart {
    margin-top: -23px;
}