.backdrop {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    overflow: hidden;
    transition: .15s ease-in-out background-color;
}

.icon {
    display: flex;
    align-items: center;
    margin: auto;
    height: 25px;
    width: 30px;
    margin-top: 15px;
}

.cart {
    margin-left: auto;
    width: 100%;
    max-width: 550px;
    height: 100%;
    background-color: #fff;
    pointer-events: auto;
    transform: translateX(100%);
    transition: .15s ease-in-out transform;
    position: relative;
    // overflow: scroll;
}

.open {
    transform: translateX(0);
}

.hide {
    background-color: transparent;
    pointer-events: none;
}

.toggler {
    border: none;
    background-color: transparent;
    pointer-events: auto;
    position: absolute;
    top: 50%;
    right: 100%;
    background-image: url("./photo/phon.png");
    height: 60px;
    width: 60px;
    cursor: pointer;
}

.path {
    position: relative;
    height: 19px;
    width: 22px;
    cursor: pointer;
    z-index: 1;
    float: right;
    margin-top: 100px;
    transform: translateX(45px);
}

.phon {
    height: 60px;
    width: 60px;
    background: #474747;
    border-radius: 5px 0px 0px 5px;
    float: right;
    transform: translateY(80px);
}

.shop {
    z-index: 0;
    position: absolute;
    right: 0%;
    top: 0%;
    bottom: 0%;
    height: 1010px;
    max-width: 550px;
    background-color: wheat;
}

.basket {
    height: 28px;
    width: 96px;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    color: #474747;
    padding-top: 44px;
    padding-left: 50px;
    margin-bottom: 51px;
}

.count {}

.iconBox {
    width: 100%;
}

.cartCatalog {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 50px;
    margin-bottom: -20px;
}

.photo {
    width: 65px;
    height: 65px;
    border-radius: 5px;
}

.title {
    width: 200px;
    height: 32px;
    margin-right: 20px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #474747;
    padding-top: 5px;
}

.price {
    height: 19px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    margin-top: 12px;
    color: #474747;
}

.form {
    margin: 26px 0;
    height: 35px;
    display: flex;
    padding-left: 15px;
}

.inputBox {
    height: 100%;
    display: flex;
}

.button {
    font-weight: 500;
    font-size: 1rem;
    background: transparent;
    cursor: pointer;
}

.increase {}

.decrease,
.increase {
    border: none;
    padding: 0;
    color: #10B4A4;
    width: 25px;
}

.input {
    padding: 0;
    border: 1px solid #D8D8D8;
    font-weight: 500;
    text-align: center;
    height: 35px;
    width: 35px;
}

.delet {
    cursor: pointer;
    height: 15px;
    width: 15px;
}

.butttonDelet {
    cursor: pointer;
    height: 35px;
    width: 35px;
    background-color: transparent;
    background: transparent;
    border: 0px;
}

.buttonForm {
    margin: 28px 10px;
}

.border {
    height: 3px;
    width: 451px;
    margin-left: 50px;
    text-align: center;
}

.borderR {
    border-radius: 50%;
    background-color: red;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-left: 10px;
}

.borderNum {
    color: white;
}