.dish {
    margin: auto;
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.item {
    display: flex;
}

.icon {
    width: 100%;
}

.photo {
    height: 200px;
    width: 280px;
    margin-left: 10px;
    border-radius: 10px;
    margin-top: 30px;
}

.name {
    padding-top: 10px;
    display: flex;
    text-decoration: none;
    align-items: center;
    color: #363636;
    width: 245px;
    height: 41px;
    justify-content: center;
    text-align: center;
    margin: auto;
    font-size: 16px;
    font-weight: 500;
}

.kind {
    margin-top: 28px;
    max-height: 14px;
    max-width: 245px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 1px;
    color: #D8D8D8;
    text-align: center;
    margin-left: 30px;
}

.price {
    height: 23px;
    width: 245px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: center;
    color: #474747;
    margin-top: 10px;
    margin-left: 35px;
}

.form {
    display: flex;
    margin-top: 21px;
}

.inputBox {
    height: 100%;
    display: flex;
}

.button {
    border: 2px solid #10B4A4;
    padding: 1px 25px 0;
    font-weight: 500;
    font-size: 1rem;
    background: transparent;
    cursor: pointer;
    height: 40px;
    width: 115px;
    margin-right: 20px;
    color: #363636;
}

.decrease {
    height: 19px;
    width: 9px;
    background: transparent;
    border: none;
    padding: 0;
    transform: translateX(30px);
    margin-top: 10px;
    color: #10B4A4;
}

.increase {
    height: 19px;
    width: 9px;
    background: transparent;
    border: none;
    padding: 0;
    margin-left: 20px;
    margin-top: 10px;
    color: #10B4A4;
}

.input {
    height: 40px;
    width: 34px;
    border-radius: 0px;
    padding: 0;
    border: 1px solid #D8D8D8;
    margin-left: 30px;
    text-align: center;
}

.order {
    margin-left: auto;
    color: #363636;
}