.header {
    padding-top: 140px;
}

.name {
    height: 42px;
    width: 473px;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0px;
    color: #474747;
    margin-bottom: 42px;
    margin-left: 362px;
}

.text {
    height: 266px;
    width: 1200px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0px;
    color: #363636;
}

.title {
    height: 21px;
    width: 154px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0px;
    color: #363636;
    margin-top: 34px;
    margin-bottom: 21px;
}

.version {
    height: 285px;
    width: 1200px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0px;
    color: #363636;
}