.header {
    max-width: 600px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}

.button {
    height: 48px;
    width: 173px;
    border-radius: 0px;
    background-color: #10B4A4;
    border-color: #10B4A4;
    margin: auto 24px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-top: 56px;
}

.title {
    margin: auto;
    height: 84px;
    max-width: 594px;
    font-size: 36px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    margin-top: 280px;
}