.top {
    display: flex;
    justify-content: space-between;
    margin-top: 56px;
}

.burgerPhoto {
    height: 225px;
    width: 580px;
}

.box {
    display: flex;
    justify-content: space-between;
    margin-top: 27px;
}

.kitchenPhoto {
    height: 225px;
    width: 275px;
}

.mealPhoto {
    height: 225px;
    width: 275px;
}

.bsMenuPhoto {
    height: 225px;
    width: 275px;
}

.brazierPhoto {
    height: 225px;
    width: 275px;
}

.dessertsPhoto {
    height: 225px;
    width: 275px;
}

.beveragesPhoto {
    height: 225px;
    width: 275px;
}

.title {
    margin-top: 100px;
    height: 42px;
    width: 404px;
    font-size: 36px;
    font-weight: 500;
    line-height: 42px;
    text-align: left;
    margin-left: 400px;
    color: #474747;
}

.bgTitle,
.khTitle,
.mlTitle,
.bsTitle,
.bzTitle,
.dsTitle,
.bvTitle {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    text-align: center;
    color: #363636;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
}

.buttonBox {
    padding-top: 89px;
}

.Mainbutton {
    border: none;
    background: transparent;
    color: #0A6A60;
    cursor: pointer;
    height: 19px;
    width: 61px;
    font-size: 16px;
    font-weight: 500;
}

.menuButton {
    border: none;
    background: transparent;
    color: #3E3E3E;
    cursor: pointer;
    height: 19px;
    width: 45px;
    font-size: 16px;
    font-weight: 500;
    margin-left: 25px;
}