.wrapper {
  padding: 26px 0;
  background-color: #5cb6a5;
}

.form {
  height: 48px;
  display: flex;
  justify-content: space-between;
}

.userName {
  height: 100%;
}
.userPhone {
  height: 100%;
}
.button {
  height: 100%;
}
.button_delet {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;

  padding: 14px;
  height: 100%;

  position: relative;
  right: -14px;

  cursor: pointer;
}