.background {
    width: 1600px;
    height: 104px;
    margin-top: -35px;
}

.box {
    width: 100%;
}

.search {
    position: absolute;
    height: 55px;
    width: 1200px;
    border-radius: 5px;
    margin-top: -80px;
    margin-left: 25px;
    border: white;
}

.header {
    margin-left: -1200px;
}