.wrapper {
    padding: 45px 0;
    margin: auto;
    max-width: 1200px;
    position: relative;
    z-index: 3;
}

.background {
    position: relative;
    z-index: 3;
    background-color: #10B4A4;
    width: 100%;
}

.search {
    height: 55px;
    width: 1200px;
    border-radius: 5px;
    border: #FFFFFF;
}

.icon {
    position: relative;
    padding: 0;
    border: none;
    background: transparent;
    transform: translateY(-35px);
    margin-left: 1165px;
}

.iconSearch {
    height: 20px;
    width: 20px;
    border-radius: 0px;
}

.button_search {
    display: block;
}

.searchBox {
    margin: 0;
    padding: 10px 15px;
    border: none;
    background: transparent;

    color: currentColor;

    cursor: pointer;
}