.borders {
    margin-top: 380px;
}

.bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 50px;
}

.top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 50px;
}

.name {
    height: 16px;
    width: 29px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #474747;
    letter-spacing: 0px;
    padding-top: 7px;
}

.userName {
    height: 35px;
    width: 215px;
    border-radius: 5px;
    border-color: #D8D8D8;
}

.phone {
    height: 16px;
    width: 58px;
    font-size: 14px;
    line-height: 16.41px;
    color: #474747;
    font-family: Roboto;
    font-weight: 500;
    padding-top: 8px;
}

.userPhone {
    height: 35px;
    width: 215px;
    border-radius: 5px;
    border-color: #D8D8D8;
}

.payment {
    height: 16px;
    width: 102px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    color: #474747;
    padding-top: 7px;
}

.options {
    height: 35px;
    width: 215px;
    border-radius: 5px;
    border-color: #D8D8D8;
}

.delivery {
    height: 16px;
    width: 114px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    color: #474747;
    padding-top: 7px;
}

.deliveryOptions {
    height: 35px;
    width: 215px;
    border-color: #D8D8D8;
    border-radius: 5px;
}