.block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 130px;
}

.picture {
    height: 270px;
    width: 366px;
    border-radius: 0px;
}

.menu_title {
    height: 28px;
    width: 151px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0px;
    margin-bottom: 26px;
}

.menu_text {
    height: 224px;
    width: 405px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
}