.header {
    padding-top: 50px;
}

.mainPhoto {
    height: 350px;
    width: 1200px;
    border-radius: 10px;
}

.mainText {
    position: absolute;
    padding-top: 66px;
    height: 126px;
    max-width: 430px;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0px;
    color: white;
    margin-left: 77px;
}

.DiscountButton {
    position: absolute;
    margin-top: 230px;
    height: 43px;
    width: 223px;
    background-color: white;
    border-color: white;
    margin-left: 77px;
}

.order {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
}

.mainDishes {
    margin-top: 90px;
    margin-left: 393px;
    height: 42px;
    width: 404px;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0px;
    color: #474747;
    margin-bottom: 20px;
}